# Python共通
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/

# ユーザーデータをGitから除外（アップデート時に消さない）
# 例（カレントディレクトリがプロジェクトルートだと仮定）
echo "{}" > LOLMakeCustom_bot/data/abilities.json
echo "{}" > LOLMakeCustom_bot/data/history.json
echo "{}" > LOLMakeCustom_bot/data/current_teams.json
echo "{}" > LOLMakeCustom_bot/data/custom_history.json
echo "{}" > LOLMakeCustom_bot/data/last_teams.json
echo "[]" > LOLMakeCustom_bot/data/match_history.json
