# Python共通
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/

# ユーザーデータをGitから除外（アップデート時に消さない）
LOLMakeCustom_bot/data/abilities.json
LOLMakeCustom_bot/data/history.json
LOLMakeCustom_bot/data/current_teams.json
LOLMakeCustom_bot/data/custom_history.json
LOLMakeCustom_bot/data/last_teams.json
LOLMakeCustom_bot/data/match_history.json
LOLMakeCustom_bot/data/*.json
